/* STYLING FOR MY REACT WEATHER APP */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
  margin-top: -70px;  /* centering my form higher up */
}


 .App {
  /* width: 100%;  /* Ensuring my app takes up the full width available */
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */

} 

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}


input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
}


button {
  background-color: #007bff; /* I chose a blue color for the button to match the theme */
  color: white;
  padding: 10px; /* Adding padding to give the button more space */
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer; /* Changing the cursor to a pointer when hovering over the button */
}

button:hover:not(:disabled) {
  background-color: #0054ad; /* Added a darker blue hover feature to match the theme*/
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.weather-result {
  text-align: center;
   margin-top: 20px;

}

.weather-result p {
  color: #555;
 font-size: 18px;
}

.weather-result h2 {
  font-size: 23px; /* Making the location name stand out */
  color: #333;
}

.weather-result h3 {
  margin: 10px 0;
 font-size: 31px;
  color: #333;
  margin: 10px 0;

}

.weather-result img {
  margin-top: 10px;
   width: 80px;
  height: 80px;
}

p {
  color: rgb(255, 7, 7);
  font-size: 18px;
  font-weight: bold;
}


